@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700&family=Caveat:wght@700&family=Roboto+Slab&family=Work+Sans:wght@300&display=swap');



* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Baloo Tamma 2', cursive;
    background-color: #1F1F2F;
    color: white;
}



.container, .container-fluid {
    padding: 0;
}

.container {
    width: 1100px;
}

.row, .col, h1, ul, p, a, span, svg {
    margin: 0;
    padding: 0;
}










header {
    margin: 25px auto auto auto;
}



.header-contain-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.header-contain-name, .header-contain-name a {
    font-family: 'Caveat', cursive;
    font-size: 80px;

    text-decoration: none;

    transition: color 0.4s;
}

.header-contain-name a:link, .header-contain-name a:visited {
    color: white;
}

.header-contain-name a:hover, .header-contain-name a:active {
    color: #858585;
}



.header-contain-menu, .header-contain-menu a {
    font-size: 20px;
    letter-spacing: 1px;
    
    text-decoration: none;

    transition: color 0.4s;
}

.header-contain-menu a:link, .header-contain-menu a:visited {
    color: white;
}

.header-contain-menu a:hover, .header-contain-menu a:active {
    color: #858585;
}

.header-contain-menu svg {
    padding: 0px 0px 3px 1px;
}










main {
    margin: 100px auto auto auto;
}



.main-contain-aboutme-items {
    margin: auto auto 100px auto;
}



.main-contain-summary {
    margin: 0px 0px 50px 0px;
}

.main-contain-summary p, .main-contain-hobbies p {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}

.main-contain-summary a, .main-contain-hobbies a {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;

    text-decoration: underline;

    transition: color 0.4s;
}

.main-contain-summary a:link, .main-contain-hobbies a:link, .main-contain-summary a:visited, .main-contain-hobbies a:visited {
    color: white;
}

.main-contain-summary a:hover, .main-contain-hobbies a:hover, .main-contain-summary a:active, .main-contain-hobbies a:active {
    color: #858585;
}

.main-contain-hobbies p:not(:last-child) {
    margin: 0px 0px 30px 0px;
}

.main-contain-hobbies svg {
    padding: 0px 0px 3px 1px;
}





.main-contain-skills-items {
    padding: 100px 0px 100px 0px;

    background-color: #181827;
}



.main-contain-skills-title {
    margin: 0px 0px 35px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main-contain-skills-title h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    color: white;
    letter-spacing: 1px;
}



.main-contain-skills-cards, .skill-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.skill-card {
    margin: 15px;

    background-color: #2a2c3c;

    min-width: 175px;
    min-height: 80px;

    border: 3px solid #3d3d50;
    border-radius: 50px;

    transition: all 0.4s;
}

.skill-card:hover{ 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.skill-card span {
    font-size: 18px
}

.skill-card svg {
    margin: 0px 10px 0px 0px;
}





.main-contain-projects-items {
    margin: 100px auto 100px auto;
}



.main-contain-projects-title {
    margin: 0px 0px 25px 0px;

    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.main-contain-projects-title h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    color: white;
    letter-spacing: 1px;
}

.main-contain-projects-title a {
    font-size: 16px;
    
    text-decoration: none;
}

.main-contain-projects-title a:link, .main-contain-projects-title a:visited {
    color: white;
}

.main-contain-projects-title a:hover, .main-contain-projects-title a:active {
    text-decoration: underline;
}



.project-card {
    position: relative;

    padding: 30px;

    background-color: #2a2c3c;

    min-height: 235px;

    border-radius: 10px;
}

.project-card a {
    font-size: 19px;

    text-decoration: none;

    transition: color 0.4s;
}

.project-cards-1 .col:nth-child(1) .project-card {
    margin: 0px 15px 30px 0px;

    border-left: 8px solid #7EED9B;
    border-right: 8px solid #7EED9B;
}

.project-cards-1 .col:nth-child(1) .project-card a:link, .project-cards-1 .col:nth-child(1) .project-card a:visited {
    color: #7EED9B;
}

.project-cards-1 .col:nth-child(1) .project-card a:hover, .project-cards-1 .col:nth-child(1) .project-card a:active {
    text-decoration: underline;
}

.project-cards-1 .col:nth-child(2) .project-card {
    margin: 0px 0px 30px 15px;

    border-left: 8px solid #fff958;
    border-right: 8px solid #fff958;
}

.project-cards-1 .col:nth-child(2) .project-card a:link, .project-cards-1 .col:nth-child(2) .project-card a:visited {
    color: #fff958;
}

.project-cards-1 .col:nth-child(2) .project-card a:hover, .project-cards-1 .col:nth-child(2) .project-card a:active {
    text-decoration: underline;
}

.project-cards-2 .col:nth-child(1) .project-card {
    margin: 0px 15px 15px 0px;

    border-left: 8px solid #dd8ffc;
    border-right: 8px solid #dd8ffc;
}

.project-cards-2 .col:nth-child(1) .project-card a:link, .project-cards-2 .col:nth-child(1) .project-card a:visited {
    color: #dd8ffc;
}

.project-cards-2 .col:nth-child(1) .project-card a:hover, .project-cards-2 .col:nth-child(1) .project-card a:active {
    text-decoration: underline;
}

.project-cards-2 .col:nth-child(2) .project-card {
    margin: 0px 0px 15px 15px;

    border-left: 8px solid #60CDF8;
    border-right: 8px solid #60CDF8;
}

.project-cards-2 .col:nth-child(2) .project-card a:link, .project-cards-2 .col:nth-child(2) .project-card a:visited {
    color: #60CDF8;
}

.project-cards-2 .col:nth-child(2) .project-card a:hover, .project-cards-2 .col:nth-child(2) .project-card a:active {
    text-decoration: underline;
}

.project-card svg {
    margin: 0px 0px 3px 1px;
}

.project-card p {
    margin: 15px 0px 15px 0px;

    font-size: 17px;
}





.main-contain-tools-items {
    padding: 100px 0px 100px 0px;

    background-color: #181827;
}



.main-contain-programs-title, .main-contain-extensions-title {
    margin: 0px 0px 35px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main-contain-programs-title h1, .main-contain-extensions-title h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    color: white;
    letter-spacing: 1px;
}



.main-contain-programs-cards, .program-card, .main-contain-extensions-cards, .extension-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.program-card, .extension-card {
    margin: 15px;

    background-color: #2a2c3c;

    min-width: 175px;
    min-height: 80px;

    border: 3px solid #3d3d50;
    border-radius: 50px;

    transition: all 0.4s;
}

.program-card:hover, .extension-card:hover { 
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.main-contain-programs-cards a, .main-contain-extensions-cards a {
    font-size: 18px;

    text-decoration: none;

    transition: color 0.4s;
}

.main-contain-programs-cards a:link, .main-contain-programs-cards a:visited, .main-contain-extensions-cards a:link, .main-contain-extensions-cards a:visited {
    color: white;
}

.main-contain-programs-cards a:hover, .main-contain-programs-cards a:active, .main-contain-extensions-cards a:hover, .main-contain-extensions-cards a:active {
    text-decoration: underline;
}










.footer-contain-items {
    padding: 50px 0px 50px 0px;
}



.footer-contain-socials ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    list-style-type: none;
}



.footer-contain-socials ul li a {
    font-size: 16px;
    letter-spacing: 1px;

    text-decoration: none;

    transition: color 0.4s;
}

.footer-contain-socials ul li:not(:last-child) {
    margin: 0px 75px 0px 0px;
}

.footer-contain-socials ul li a:link, .footer-contain-socials ul li a:visited {
    color: white;
}

.footer-contain-socials ul li a:hover, .footer-contain-socials ul li a:active {
    color: #858585;
}

.footer-contain-socials ul li svg {
    margin: 0px 10px 0px 0px;
}










@media only screen and (min-width: 320px) and (max-width: 576px) {

    .container {
        width: auto;
    }




    
    header {
        margin: 5px 15px auto 15px;
    }



    .header-contain-items {
        align-items: baseline;
    }

    
    
    .header-contain-name, .header-contain-name a {
        font-size: 45px;
    }

    

    .header-contain-menu, .header-contain-menu a {
        font-size: 15px;
        letter-spacing: normal;
    }

    .header-contain-menu svg {
        padding: 2px 0px 5px 1px;
    }










    main {
        margin: 30px auto auto auto;
    }



    .main-contain-aboutme-items {
        margin: auto 15px 50px 15px;
    }

    

    .main-contain-summary {
        margin: 0px 0px 30px 0px;
    }

    .main-contain-summary p, .main-contain-hobbies p {
        font-size: 16px;
    }

    .main-contain-summary a, .main-contain-hobbies a {
        font-size: 16px;
    }

    .main-contain-hobbies p:not(:last-child) {
        margin: 0px 0px 15px 0px;
    }

    .main-contain-hobbies svg {
        padding: 2px 0px 4px 0px;
    }





    .main-contain-skills-items {
        padding-top: 50px;
        padding-bottom: 50px;
    }



    .main-contain-skills-title {
        margin: 0px 0px 15px 0px;
    }

    .main-contain-skills-title h1 {
        font-size: 23px;
    }



    .skill-card {
        margin: 10px;
    
        min-width: 150px;
        min-height: 60px;
    }

    .skill-card span {
        font-size: 16px
    }

    .skill-card svg {
        margin: 0px 5px 0px 0px;
    }





    .main-contain-projects-items {
        margin: 50px 15px 50px 15px;
    }



    .main-contain-projects-title {
        margin: 0px 0px 15px 0px;
    }

    .main-contain-projects-title h1 {
        font-size: 23px;
    }

    .main-contain-projects-title a {
        font-size: 15px;
    }



    .project-card {
        padding: 15px;

        min-height: auto;
    }

    .project-card a {
        font-size: 16px;
    }

    .project-cards-1, .project-cards-2 {
        display: block;
    }

    .project-cards-1 .col:nth-child(1) .project-card {
        margin: 0px 0px 15px 0px;
    
        border-left: 5px solid #7EED9B;
        border-right: 5px solid #7EED9B;
    }
    
    .project-cards-1 .col:nth-child(2) .project-card {
        margin: 0px 0px 15px 0px;
    
        border-left: 5px solid #fff958;
        border-right: 5px solid #fff958;
    }
    
    .project-cards-2 .col:nth-child(1) .project-card {
        margin: 0px 0px 15px 0px;
    
        border-left: 5px solid #dd8ffc;
        border-right: 5px solid #dd8ffc;
    }
    
    .project-cards-2 .col:nth-child(2) .project-card {
        margin: 0px;
    
        border-left: 5px solid #60CDF8;
        border-right: 5px solid #60CDF8;
    }
    
    .project-card svg {
        padding: 1px 0px 3px 0px;
    }
    
    .project-card p {
        font-size: 16px;
    }





    .main-contain-tools-items {
        padding-top: 50px;
        padding-bottom: 50px;
    }



    .main-contain-programs-title, .main-contain-extensions-title {
        margin: 0px 0px 15px 0px;
    }

    .main-contain-programs-title h1, .main-contain-extensions-title h1 {
        font-size: 20px;
        letter-spacing: normal;
    }



    .program-card, .extension-card {
        margin: 10px;
    
        min-width: 140px;
        min-height: 60px;
    }

    .main-contain-programs-cards a, .main-contain-extensions-cards a {
        font-size: 15px;
    }










    footer {
        margin: 0px 15px 0px 15px;
    }
    


    .footer-contain-items {
        padding-top: 25px;
        padding-bottom: 25px;
    }



    .footer-contain-socials ul li a {
        font-size: 15px;
        letter-spacing: normal;
    }

    .footer-contain-socials ul li:not(:last-child) {
        margin: 0px 10px 0px 0px;
    }

    .footer-contain-socials svg {
        display: none;
    }

}










@media only screen and (max-width: 768px) and (min-width: 577px) {

    .container {
        width: 540px;
    }




    
    header {
        margin: 10px auto auto auto;
    }



    .header-contain-name, .header-contain-name a {
        font-size: 55px;
    }

    

    .header-contain-menu, .header-contain-menu a {
        font-size: 18px;
    }

    .header-contain-menu svg {
        padding: 3px 0px 4px 1px;
    }










    main {
        margin: 50px auto auto auto;
    }



    .main-contain-aboutme-items {
        margin: auto auto 65px auto;
    }

    

    .main-contain-summary {
        margin: 0px 0px 35px 0px;
    }

    .main-contain-summary p, .main-contain-hobbies p {
        font-size: 18px;
    }

    .main-contain-summary a, .main-contain-hobbies a {
        font-size: 18px;
    }

    .main-contain-hobbies p:not(:last-child) {
        margin: 0px 0px 20px 0px;
    }

    .main-contain-hobbies svg {
        padding: 2px 0px 4px 0px;
    }





    .main-contain-skills-items {
        padding-top: 65px;
        padding-bottom: 65px;
    }



    .main-contain-skills-title {
        margin: 0px 0px 20px 0px;
    }

    .main-contain-skills-title h1 {
        font-size: 27px;
    }



    .skill-card {
        margin: 10px;
    
        min-width: 155px;
        min-height: 65px;
    }

    .skill-card span {
        font-size: 16px
    }

    .skill-card svg {
        margin: 0px 5px 0px 0px;
    }





    .main-contain-projects-items {
        margin: 65px auto 65px auto;
    }



    .main-contain-projects-title {
        margin: 0px 0px 18px 0px;
    }

    .main-contain-projects-title h1 {
        font-size: 27px;
    }

    .main-contain-projects-title a {
        font-size: 15px;
    }



    .project-card {
        padding: 17px;

        min-height: auto;
    }

    .project-card a {
        font-size: 17px;
    }

    .project-cards-1, .project-cards-2 {
        display: block;
    }

    .project-cards-1 .col:nth-child(1) .project-card {
        margin: 0px 0px 20px 0px;
    
        border-left: 6px solid #7EED9B;
        border-right: 6px solid #7EED9B;
    }
    
    .project-cards-1 .col:nth-child(2) .project-card {
        margin: 0px 0px 20px 0px;
    
        border-left: 6px solid #fff958;
        border-right: 6px solid #fff958;
    }
    
    .project-cards-2 .col:nth-child(1) .project-card {
        margin: 0px 0px 20px 0px;
    
        border-left: 6px solid #dd8ffc;
        border-right: 6px solid #dd8ffc;
    }
    
    .project-cards-2 .col:nth-child(2) .project-card {
        margin: 0px;
    
        border-left: 6px solid #60CDF8;
        border-right: 6px solid #60CDF8;
    }
    
    .project-card svg {
        padding: 1px 0px 2px 0px;
    }
    
    .project-card p {
        font-size: 16px;
    }





    .main-contain-tools-items {
        padding-top: 65px;
        padding-bottom: 65px;
    }



    .main-contain-programs-title, .main-contain-extensions-title {
        margin: 0px 0px 20px 0px;
    }

    .main-contain-programs-title h1, .main-contain-extensions-title h1 {
        font-size: 24px;
    }



    .program-card, .extension-card {
        margin: 10px;
    
        min-width: 155px;
        min-height: 65px;
    }

    .main-contain-programs-cards a, .main-contain-extensions-cards a {
        font-size: 16px;
    }










    .footer-contain-items {
        padding-top: 32px;
        padding-bottom: 32px;
    }



    .footer-contain-socials ul li:not(:last-child) {
        margin: 0px 30px 0px 0px;
    }

    .footer-contain-socials svg {
        display: none;
    }

}










@media only screen and (max-width: 992px) and (min-width: 769px) {

    .container {
        width: 720px;
    }




    
    header {
        margin: 15px auto auto auto;
    }



    .header-contain-name, .header-contain-name a {
        font-size: 65px;
    }

    

    .header-contain-menu, .header-contain-menu a {
        font-size: 19px;
    }

    .header-contain-menu svg {
        padding: 1px 0px 5px 1px;
    }










    main {
        margin: 70px auto auto auto;
    }



    .main-contain-aboutme-items {
        margin: auto auto 80px auto;
    }

    

    .main-contain-summary {
        margin: 0px 0px 40px 0px;
    }

    .main-contain-summary p, .main-contain-hobbies p {
        font-size: 19px;
    }

    .main-contain-summary a, .main-contain-hobbies a {
        font-size: 19px;
    }

    .main-contain-hobbies p:not(:last-child) {
        margin: 0px 0px 25px 0px;
    }

    .main-contain-hobbies svg {
        padding: 2px 0px 4px 0px;
    }





    .main-contain-skills-items {
        padding-top: 80px;
        padding-bottom: 80px;
    }



    .main-contain-skills-title {
        margin: 0px 0px 25px 0px;
    }

    .main-contain-skills-title h1 {
        font-size: 31px;
    }



    .skill-card {
        margin: 12px;
    
        min-width: 165px;
        min-height: 70px;
    }

    .skill-card span {
        font-size: 17px
    }

    .skill-card svg {
        margin: 0px 7px 0px 0px;
    }





    .main-contain-projects-items {
        margin: 80px auto 80px auto;
    }



    .main-contain-projects-title {
        margin: 0px 0px 21px 0px;
    }

    .main-contain-projects-title h1 {
        font-size: 31px;
    }

    .main-contain-projects-title a {
        font-size: 15px;
    }



    .project-card {
        padding: 22px;

        min-height: auto;
    }

    .project-card a {
        font-size: 18px;
    }

    .project-cards-1, .project-cards-2 {
        display: block;
    }

    .project-cards-1 .col:nth-child(1) .project-card {
        margin: 0px 0px 25px 0px;
    
        border-left: 7px solid #7EED9B;
        border-right: 7px solid #7EED9B;
    }
    
    .project-cards-1 .col:nth-child(2) .project-card {
        margin: 0px 0px 25px 0px;
    
        border-left: 7px solid #fdf84f;
        border-right: 7px solid #fdf84f;
    }
    
    .project-cards-2 .col:nth-child(1) .project-card {
        margin: 0px 0px 25px 0px;
    
        border-left: 7px solid #F64E4C;
        border-right: 7px solid #F64E4C;
    }
    
    .project-cards-2 .col:nth-child(2) .project-card {
        margin: 0px;
    
        border-left: 7px solid #60CDF8;
        border-right: 7px solid #60CDF8;
    }
    
    .project-card svg {
        padding: 1px 0px 2px 0px;
    }
    
    .project-card p {
        font-size: 17px;
    }





    .main-contain-tools-items {
        padding-top: 80px;
        padding-bottom: 80px;
    }



    .main-contain-programs-title, .main-contain-extensions-title {
        margin: 0px 0px 25px 0px;
    }

    .main-contain-programs-title h1, .main-contain-extensions-title h1 {
        font-size: 28px;
    }



    .program-card, .extension-card {
        margin: 12px;
    
        min-width: 165px;
        min-height: 70px;
    }

    .main-contain-programs-cards a, .main-contain-extensions-cards a {
        font-size: 17px;
    }










    .footer-contain-items {
        padding-top: 39px;
        padding-bottom: 39px;
    }



    .footer-contain-socials ul li:not(:last-child) {
        margin: 0px 50px 0px 0px;
    }

    .footer-contain-socials svg {
        margin: 0px 5px 0px 0px;
    }

}










@media only screen and (max-width: 1200px) and (min-width: 993px) {

    .container {
        width: 960px;
    }




    
    header {
        margin: 20px auto auto auto;
    }

    
    
    .header-contain-name, .header-contain-name a {
        font-size: 75px;
    }










    main {
        margin: 90px auto auto auto;
    }



    .main-contain-skills-title {
        margin: 0px 0px 30px 0px;
    }





    .project-card {
        padding: 27px;

        min-height: 270px;
    }

    .project-card-detail {
        position: absolute;
    
        bottom: 30px;
    }
    
    .project-card-detail p {
        margin: 0;
    }





    .main-contain-programs-title, .main-contain-extensions-title {
        margin: 0px 0px 30px 0px;
    }










    .footer-contain-items {
        padding-top: 46px;
        padding-bottom: 46px;
    }



    .footer-contain-socials ul li:not(:last-child) {
        margin: 0px 70px 0px 0px;
    }

}










@media only screen and (min-width: 1201px) {

    .project-card-detail {
        position: absolute;
    
        bottom: 30px;
    }
    
    .project-card-detail p {
        margin: 0;
    }

}